body{
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;

}

.chart{
    width: 600px;
    height: 300px;
    display: block;
}
 
.bars {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    
}
.bars li{
    display: table-cell;
    width: 85px;
    height: 360px;
    position: relative;
}
.bars span{
    width: 100%;
    position: absolute;
    bottom: -39px;
    text-align: center;
    margin-left: -37px;
}

.bars .bar1 {
    display: block;
    background: #f0f00e;
    width: 50px;
    position: absolute;
    bottom: 85px;
    margin-left: 150px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(23 192 235 / 50%);
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.bars .bar2 {
    display: block;
    background: #1eff05;
    width: 50px;
    position: absolute;
    bottom: 85px;
    margin-left: 150px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(23 192 235 / 50%);
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.bars .bar3 {
    display: block;
    background: #dd00ff;
    width: 50px;
    position: absolute;
    bottom: 85px;
    margin-left: 150px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(23 192 235 / 50%);
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.bars .bar1:hover{
    background: #558b7c;
    box-shadow: 0 0 10px 0 rgba(6, 35, 27, 0.5);
    cursor: pointer;
}
.bars .bar1:before{
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}
.bars .bar2:hover{
    background: #6c716f;
    box-shadow: 0 0 10px 0 rgba(6, 35, 27, 0.5);
    cursor: pointer;
}
.bars .bar2:before{
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}
.bars .bar3:hover{
    background: #558b7c;
    box-shadow: 0 0 10px 0 rgba(6, 35, 27, 0.5);
    cursor: pointer;
}
.bars .bar3:before{
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}
 
 